@font-face {
    font-family: 'Phantom Sans';
    src:
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
            format('woff'),
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
            format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src:
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
            format('woff'),
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
            format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src:
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
            format('woff'),
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
            format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
}

#header{
    font-family: 'Phantom Sans', sans-serif;
    background: #EC3750 linear-gradient(72deg, rgba(236, 55, 80, 1) 0%, #57030F 100%);
    padding: 1rem 2rem;
    font-size: 3rem;
    line-height: 0;
    font-weight: bold;
    color: white;

    display: flex;
    align-items: center;
}

#logo{
    height: 5rem;
}

#body{
    height: 80vh;
    background: #FCFCF7 linear-gradient(118deg, #F1BFC4 0%, #E3848F 100%);
    position: relative;
}

#banner-thing-idk{
    font-family: "Phantom Sans", sans-serif;
    background: #E3848F;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

#locations{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    gap: 1rem;
    color: #FCFCF7;
    font-size: 1.3rem;
    font-weight: normal;
}

#date{
    font-size: 1.8rem;
    color: #fcfcfc;
    font-weight: bold;
}

#type{
    font-size: 1.8rem;
    color: #fcfcf7;
}

#back{
    all: unset;
    font-family: "Phantom Sans", sans-serif;
    background-color: #FCFCF7;
    padding: 0.75rem 1rem;
    border: 3px solid #EC3750;
    color: #ec3750;
    font-size: 1.5rem;
}

#banner-thing-idk button:hover,
#banner-thing-idk button:focus,
#banner-thing-idk button:active{
    background-color: #eaeae4;
}

#banner-thing-idk a{
    text-decoration: none;
}

#no-flights{
    font-family: "Phantom Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#no-flights h2{
    color: #57030F;
    margin: 1.5rem 0 0 0;
    font-size: 2.5rem;
}

#no-flights p{
    color: #57030F;
    font-size: 1.5rem;
}

#back-no-flights{
    all: unset;
    margin-left: auto;
    margin-right: auto;
    color: #FCFCF7;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-family: "Phantom Sans", sans-serif;
    background-color: #EC3750;
    border: 3px solid #d6d6c8;
    cursor: pointer;
}

#no-flights button:hover,
#no-flights button:focus,
#no-flights button:active{
    background-color: #cc2c42;
}

#no-flights a{
    text-decoration: none;
}

#orph-pf{
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

#flights{
    display: none;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #57030F;
    color: #FCFCF7;
    font-family: "Phantom Sans", sans-serif;
    padding: 0 2rem;
    font-size: 1.3rem;
}

#footer-logo img{
    height: 4rem;
    margin-right: -1rem;
}

#footer-logo{
    display: flex;
    align-items: center;
    gap: 0;
}

@media(max-width: 767px){
    #logo-text{
        display: none;
    }

    #logo{
        height: 3rem;
    }

    #header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }

    #banner-thing-idk{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    #locations h2{
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #locations{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        font-size: 1.2rem;
    }

    #date{
        font-size: 1.3rem;
    }

    #type{
        font-size: 1.3rem;
    }

    #back{
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        border: 2px solid #EC3750;
    }

    #body{
        height: 90vh;
        padding: 0;
    }

    #orph-pf{
        width: 10rem;
    }

    #no-flights h2{
        font-size: 2rem;
        width: 80vw
    }

    #no-flights p{
        font-size: 1.3rem;
    }

    #back-no-flights{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: 2px solid #fcfcf7;
    }

    #footer-logo h1{
        display: none;
    }

    #footer{
        font-size: 0.8rem;
    }
}

#date-type{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}