@font-face {
    font-family: 'Phantom Sans';
    src:
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
            format('woff'),
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
            format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src:
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
            format('woff'),
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
            format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Phantom Sans';
    src:
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
            format('woff'),
            url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
            format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
}

#header{
    font-family: 'Phantom Sans', sans-serif;
    background: #EC3750 linear-gradient(72deg, rgba(236, 55, 80, 1) 0%, #57030F 100%);
    padding: 1rem 2rem;
    font-size: 3rem;
    line-height: 0;
    font-weight: bold;
    color: white;

    display: flex;
    align-items: center;
}

#logo{
    height: 5rem;
}

#body{
    background: #df6273 linear-gradient(72deg, #fa667a 0%, #e1a5ad 100%);
    padding: 2rem;
    font-family: 'Phantom Sans', sans-serif;
}

#container{
    /*background-color: #FCFCF7;*/
    background: linear-gradient(1deg, rgba(252, 252, 247, 1) 80%, rgba(250, 102, 122, 1) 100%);
    border-radius: 1rem;
    padding: 0.5rem 0 0 0;
}

.departure-picker p,
.arrival-picker p,
.type-picker p,
.class-picker p,
.date-picker p{
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    color: #f44b62;
    font-size: 1.4rem;
}

.arrival-picker p,
.class-picker p{
    margin-left: 1.2rem;
}

#departure-search,
#arrival-search,
#route-type-input,
#class-input,
#date-input{
    all: unset;
    color: #EC3750;
    font-size: 2.8rem;
    width: 37vw;
    margin: 0;
    cursor: pointer;
}

#route-type-input,
date-input{
    width: 37vw;
    display: block;
    border-right: 3px solid #f195a1
}

#departure-search{
    border-right: 3px solid #f195a1;
}

#arrival-search,
#class-input{
    border-left: 3px solid #f195a1;
    padding-left: 1rem;
}

#destination-select-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1vw;
}

#swap-locations{
    color: #EC3750;
    margin-top: 2.8rem;
    cursor: pointer;
}

#departure-dropdown,
#arrival-dropdown,
#route-type-dropdown,
#class-dropdown{
    display: none;
    color: #ec3750;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f4e4e4;
    border-radius: 0 0 1rem 1rem;
    height: 15rem;
    overflow-y: scroll;
}

#arrival-dropdown,
#class-dropdown{
    margin-left: 1.2rem;
}

.dropdown-item{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 2px solid #f6cdd5
}

#main{
    padding: 0 2rem 2rem;
    margin-top: 1rem;
}

#selector button{
    all: unset;
    cursor: pointer;
    background-color: #f4aab5;
    color: #FCFCF7;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 0 0;
    margin: 0 0.2rem 0 0;
    border-top: 2px solid #FCFCF7;
    border-left: 2px solid #fcfcf7;
    border-right: 2px solid #fcfcf7;
    width: 9rem;
}

#selector button.active{
    background-color: #FCFCF7;
    color: #ec3750;
    border-top: 3px solid #ec3750;
    border-left: 3px solid #ec3750;
    border-right: 3px solid #ec3750;
}

#selector button:active,
#selector button:hover,
#selector button:focus{
    background-color: #e1a5ad;
}

#selector button.active:active,
#selector button.active:hover,
#selector button.active:focus {
    background-color: #FBFBF6;
}

.airport-picker,
.departure-picker,
.arrival-picker,
.type-picker,
.class-picker{
    position: relative;
}

.dropdown{
    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    background: #dddddd;
    border: solid 2px #dddddd;

    z-index: 100;
    display: none;

    box-shadow: #cc8088 5px 5px 5px;
}

#banner{
    height: 25rem;
    background: linear-gradient(0deg,  rgba(235, 109, 122, 1) 0%, rgba(235, 148, 152, 0) 35%), url("img/airbus-a380.jpg") center;
    background-size: cover;
    font-family: 'Phantom Sans', sans-serif;
    color: #00205B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#banner h1{
    margin: 0;
    font-size: 2.5rem;
}

#banner p{
    font-size: 1.3rem;
}

#banner-content-box{
    background-color: rgba(256, 256, 256, 0.8);
    width: 23rem;
    padding: 2rem;
    text-align: right;
    margin-right: 2rem;
}

#route-type-dropdown{
    width: 37vw;
    height: auto;
}

#flight-type{
    display: flex;
    gap: 1vw;
}

.gap-block{
    width: 40px;
}

#class-dropdown{
    padding: 2rem 2rem 1rem 2rem;
    height: 20.8rem;
    width: 40vw
}

#class-dropdown label{
    margin-bottom: 5rem;
    font-weight: bold;
}

#class-dropdown button{
    all: unset;
    background-color: #fcfcf7;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out;
}

#class-dropdown button.active{
    border: 2px solid #EC3750;
}

#class-dropdown button:hover{
    background-color: #efbbc2;
}

.section{
    margin-bottom: 1rem;
}

#flight-date{
    display: flex;
    gap: 1vw;
}

#class-dropdown input::-webkit-outer-spin-button,
#class-dropdown input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#class-dropdown input{
    all: unset;
    width: 3rem;
    background-color: #FCFCF7;
    padding: 0.3rem;
    text-align: center;
    -moz-appearance: textfield;
}

.number-adj-btn{
    border: 2px solid #EC3750 !important;
}

.flatpickr-calendar{
    font-family: "Phantom Sans", sans-serif;
    color: #EC3750;
    background-color: #f8e9eb !important;
}

.flatpickr-day.startRange,
.flatpickr-day.selected{
    border: none;
    background-color: #EC3750 !important;
}

.flatpickr-month,
.flatpickr-months{
    color: #EC3750 !important;
}

.flatpickr-weekday{
    color: #df6273 !important;
}

.flatpickr-day.inRange,
.flatpickr-day:hover{
    box-shadow: -5px 0 0 #f1bfc4 !important;
    background: #f1bfc4 !important;
    border: #f1bfc4 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay{
    background: #EC3750 !important;
    border: #EC3750 !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)){
    -webkit-box-shadow: -10px 0 0 #EC3750 !important;
    box-shadow: -10px 0 0 #EC3750 !important;
}

#search-btn{
    all: unset;
    background-color: #ec3750;
    color: #FCFCF7;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 2vw;
}

#search-btn:hover{
    background-color: #d1394f;
}

#search-btn-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
}

#search-btn-container p{
    font-size: 1.8rem;
    margin: 0 0 0 0.5rem;
    color: #666666;
}

#search-btn-container span{
    color: #EC3750;
}

.flatpickr-input{
    padding-left: 0 !important;
    width: 70vw;
}

#date-input{
    width: 70vw;
}

#body-2{
    background: #FCFCF7 linear-gradient(118deg, #F1BFC4 0%, #E3848F 100%);
    font-family: "Phantom Sans", sans-serif;
    padding: 3rem 2.5rem;
}

#body-2 h1{
    margin: 0;
    font-size: 2.5rem;
    color: #57030F;
}

#latest-offers{
    display: flex;
}